<a href="https://colab.research.google.com/github/gauravpks/dl-repo/blob/master/IndustrialSafetyDS/Industrial_Accident_Causal_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Overview
## Project Detail
>In this dataset, the information about accidents in 12 manufacturing plants in 3 countries are given by a brazilian company, [IHM Stefanini](https://en.ihm.com.br/). We need to use this dataset to understand why accidents occur, and discover clues to reduce tragedic accidents.<br/>
><p>Dataset columns are below:</p>
><ul>
><li><b>Date</b> : timestamp or time/date information</li>
><li><b>Countries</b> : which country the accident occurred (<b>anonymized</b>)</li>
><li><b>Local</b> : the city where the manufacturing plant is located (<b>anonymized</b>)</li>
><li><b>Industry sector</b> : which sector the plant belongs to</li>
><li><b>Accident level</b> : from I to VI, it registers how severe was the accident (I means not severe but VI means very severe)</li>
><li><b>Potential Accident Level</b> : Depending on the Accident Level, the database also registers how severe the accident could have been (due to other factors involved in the accident)</li>
><li><b>Genre</b> : if the person is male of female</li>
><li><b>Employee or Third Party</b> : if the injured person is an employee or a third party</li>
><li><b>Critical Risk</b> : some description of the risk involved in the accident</li>
><li><b>Description</b> : Detailed description of how the accident happened</li>
></ul>

**Motivation**
* Did you know that a lot of accidents happen every day in manufacturing plants?
* Did you also know that it kill thousands of people everywhere, globally?

**Objective**
* Analyse real labor accident data aiming to help manufacturing plants to save lives.
* No intend to use any machine learning technique, but to help people to take valuable insights from few lines of data

**Few simple Concepts to learn**

We will use two basic concepts about data exploration: Highlight and Insight
1. Highlight: when we resume data information 
2. Insight: ideas and questions that come from the Highlights

**Further details**
1. Programming Language for data analysis: Python
2. Data handling tools: pandas helping with data-frame operations
3. Data Visualization tools: Seaborn and Plotly

#Imorting Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#Importing Dataset

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/gauravpks/ml-repo/master/IndustrialSafetyDS/industrial_safety.csv")

In [14]:
df.head(2)

               Date  ...                                        Description
0  01-01-2016 00:00  ...  While removing the drill rod of the Jumbo 08 f...
1  02-01-2016 00:00  ...  During the activation of a sodium sulphide pum...

[2 rows x 10 columns]

In [15]:
df.rename(columns={'Data':'Date', 'Countries':'Country', 'Genre':'Gender', 'Employee or Third Party':'Employee type'}, inplace=True)
df.head(2)

               Date  ...                                        Description
0  01-01-2016 00:00  ...  While removing the drill rod of the Jumbo 08 f...
1  02-01-2016 00:00  ...  During the activation of a sodium sulphide pum...

[2 rows x 10 columns]